@page
@model DeclutterMeRazorUI.Areas.Admin.Pages.Category.IndexModel
@{
    ViewData["Title"] = "Categories";
}

<div class="container p-3">
    <div class="row py-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="create" class="btn btn-primary">
                <i class="bi bi-plus-circle me-2"></i>Create New Category
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Display Order</th>
                <th>Created</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Category item in Model.Categories)
            {
                <tr>
                    <td class="align-middle">@item.Name</td>
                    <td class="align-middle">@item.DisplayOrder</td>
                    <td class="align-middle">@item.Created</td>
                    <td>
                        <a class="btn btn-sm btn-primary" asp-page="Update" asp-route-id="@item.Id">Update</a>
                        <a class="btn btn-sm btn-danger" asp-page="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>