@page "/Admin/Product"
@inject DeclutterMeDbContext Db
@inject IWebHostEnvironment HostEnvironment

<PageTitle>Products - DeclutterMe</PageTitle>

<Notification @ref="_notification" />

@if (_createMode)
{
    <EditForm Model="_product" OnValidSubmit="HandleCreateProduct">
        <div class="row">
            <div class="col-12">
                <div class="border p-3 mt-4 row">
                    <div class="col-12 pb-2">
                        <h2 class="text-body">Create Product</h2>
                        <hr />
                    </div>
                    <DataAnnotationsValidator />
                    <div class="mb-3">
                        <label>Name:</label>
                        <InputText class="form-control" @bind-Value="_product.Name" />
                        <div class="text-danger">
                            <ValidationMessage For="@(() => _product.Name)" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Description:</label>
                        <InputTextArea class="form-control" @bind-Value="_product.Description" rows="3" />
                        <div class="text-danger">
                            <ValidationMessage For="@(() => _product.Description)" />
                        </div>
                    </div>
                    <div class="mb-3 col-6">
                        <label>List Price:</label>
                        <InputNumber class="form-control" @bind-Value="_product.ListPrice" />
                        <div class="text-danger">
                            <ValidationMessage For="@(() => _product.ListPrice)" />
                        </div>
                    </div>

                    <div class="mb-3 col-6">
                        <label>Actual Price:</label>
                        <InputNumber class="form-control" @bind-Value="_product.ActualPrice" />
                        <div class="text-danger">
                            <ValidationMessage For="@(() => _product.ActualPrice)" />
                        </div>
                    </div>

                    <div class="mb-3">
                        <label>Image Url:</label>
                        <InputFile class="form-control" OnChange="HandleInputFileChange" />
                    </div>

                    <div class="mb-3">
                        <label>Category:</label>
                        <InputSelect class="form-control" @bind-Value="_product.CategoryId">
                            <option value="">Select Category...</option>
                            @foreach(var c in _categories)
                            {
                                <option value=@($"{c.Id}")>@c.Name</option>
                            }
                        </InputSelect>
                        <div class="text-danger">
                            <ValidationMessage For="@(() => _product.CategoryId)" />
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary me-2">Create</button>
                        <button type="button" class="btn btn-secondary" @onclick="() => { CreateMode = false; }">Back to List</button>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
}
else if (_editMode)
{
    <EditForm Model="_product" OnValidSubmit="HandleEditProduct">
        <div class="row">
            <div class="col-10">
                <div class="border p-3 mt-4 row">
                    <div class="col-12 pb-2">
                        <h2 class="text-body">Edit Product</h2>
                        <hr />
                    </div>
                    <DataAnnotationsValidator />
                    <div class="mb-3">
                        <label>Name:</label>
                        <InputText class="form-control" @bind-Value="_product.Name" />
                        <div class="text-danger">
                            <ValidationMessage For="@(() => _product.Name)" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Description:</label>
                        <InputTextArea class="form-control" @bind-Value="_product.Description" rows="3" />
                        <div class="text-danger">
                            <ValidationMessage For="@(() => _product.Description)" />
                        </div>
                    </div>
                    <div class="mb-3 col-6">
                        <label>List Price:</label>
                        <InputNumber class="form-control" @bind-Value="_product.ListPrice" />
                        <div class="text-danger">
                            <ValidationMessage For="@(() => _product.ListPrice)" />
                        </div>
                    </div>

                    <div class="mb-3 col-6">
                        <label>Actual Price:</label>
                        <InputNumber class="form-control" @bind-Value="_product.ActualPrice" />
                        <div class="text-danger">
                            <ValidationMessage For="@(() => _product.ActualPrice)" />
                        </div>
                    </div>

                    <div class="mb-3">
                        <label>Image Url:</label>
                        <InputFile class="form-control" OnChange="HandleInputFileChange" />
                    </div>

                    <div class="mb-3">
                        <label>Category:</label>
                        <InputSelect class="form-control" @bind-Value="_product.CategoryId">
                            <option value="">Select Category...</option>
                            @foreach (var c in _categories)
                            {
                                <option value=@($"{c.Id}")>@c.Name</option>
                            }
                        </InputSelect>
                        <div class="text-danger">
                            <ValidationMessage For="@(() => _product.CategoryId)" />
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary me-2">Update</button>
                        <button type="button" class="btn btn-secondary" @onclick="() => { EditMode = false; }">Back to List</button>
                    </div>
                </div>
            </div>
            <div class="col-2 mt-4">
                <img src="@_product.ImageUrl" style="width: 100%; border-radius: 5px; border: 1px solid #bbb9b9;" />
            </div>
        </div>
    </EditForm>
}
else
{
    <div class="container p-3">

        <div class="row py-4">
            <div class="col-6">
                <h2 class="text-body">Product List</h2>
            </div>
            <div class="col-6 text-end">
                <button class="btn btn-primary" @onclick="() => { CreateMode = true; }">
                    <i class="bi bi-plus-circle me-2"></i>Create New Product
                </button>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>List Price</th>
                    <th>Actual Price</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (_products is not null)
                {
                    @foreach (var item in _products)
                    {
                        <tr>
                            <td class="align-middle">@item.Name</td>
                            <td class="align-middle">@item.ListPrice</td>
                            <td class="align-middle">@item.ActualPrice</td>
                            <td class="align-middle">@item.Category.Name</td>
                            <td>
                                <button class="btn btn-sm btn-primary" @onclick="() => {_product = item; EditMode = true;}">Edit</button>
                                <button class="btn btn-sm btn-danger" @onclick="async () => {_product = item; await HandleDeleteProduct();}">Delete</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
}

@code {
    private IEnumerable<DataAccessLibrary.Entities.Product> _products = default!;
    private IEnumerable<DataAccessLibrary.Entities.Category> _categories = default!;
    private DataAccessLibrary.Entities.Product _product = new();
    private IBrowserFile _imageUpload = default!;
    private Notification _notification = default!;

    private bool _createMode = false;
    public bool CreateMode
    {
        get { return _createMode; }
        set
        {
            if (value)
            {
                _product = new();
                EditMode = false;
            }

            _notification.ResetAlert();
            _createMode = value;
        }
    }

    private bool _editMode = false;
    public bool EditMode
    {
        get { return _editMode; }
        set
        {
            if (value)
            {
                CreateMode = false;
            }

            _notification.ResetAlert();
            _editMode = value;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadCategories();
        await LoadProducts();
    }

    private async Task LoadCategories()
    {
        _categories = await Db.Categories.ToListAsync();
    }

    private async Task LoadProducts()
    {
        _products = await Db.Products
            .Include(p => p.Category)
            .ToListAsync();
    }

    private async Task HandleCreateProduct()
    {
        try
        {
            string wwwRootPath = HostEnvironment.WebRootPath;

            if (_imageUpload is not null)
            {
                string fileName = $"{_product.Name}-{Guid.NewGuid()}";
                string uploads = Path.Combine(wwwRootPath, @"img\products");
                string extension = Path.GetExtension(_imageUpload.Name);

                if (_product.ImageUrl != null)
                {
                    string oldImagePath = Path.Combine(wwwRootPath, _product.ImageUrl.TrimStart('\\'));

                    if (File.Exists(oldImagePath))
                    {
                        File.Delete(oldImagePath);
                    }
                }

                await using FileStream fs = new(Path.Combine(uploads, fileName + extension), FileMode.Create);
                await _imageUpload.OpenReadStream(maxAllowedSize: 5120000).CopyToAsync(fs);
                _product.ImageUrl = $@"\img\products\{fileName}{extension}";
            }
        }
        catch (Exception ex)
        {
            await InvokeAsync(StateHasChanged);
            _notification.AlertError($"Upload failed: {ex.Message}");
        }

        await Db.Products.AddAsync(_product);
        await Db.SaveChangesAsync();
        _product = new();
        _notification.AlertSuccess("Product created successfully");
        _createMode = false;
        await LoadProducts();
    }

    private async Task HandleEditProduct()
    {
        try
        {
            string wwwRootPath = HostEnvironment.WebRootPath;

            if (_imageUpload is not null)
            {
                string fileName = $"{_product.Name}-{Guid.NewGuid()}";
                string uploads = Path.Combine(wwwRootPath, @"img\products");
                string extension = Path.GetExtension(_imageUpload.Name);

                if (_product.ImageUrl != null)
                {
                    string oldImagePath = Path.Combine(wwwRootPath, _product.ImageUrl.TrimStart('\\'));

                    if (File.Exists(oldImagePath))
                    {
                        File.Delete(oldImagePath);
                    }
                }

                await using FileStream fs = new(Path.Combine(uploads, fileName + extension), FileMode.Create);
                await _imageUpload.OpenReadStream(maxAllowedSize: 10240000).CopyToAsync(fs);
                _product.ImageUrl = $@"\img\products\{fileName}{extension}";
            }
        }
        catch (Exception ex)
        {
            await InvokeAsync(StateHasChanged);
            _notification.AlertError($"Upload failed: {ex.Message}");
        }

        await Db.SaveChangesAsync();
        _product = new();
        _notification.AlertInfo("Product updated successfully");
        _editMode = false;
        await LoadProducts();
    }

    private async Task HandleDeleteProduct()
    {
        DataAccessLibrary.Entities.Product? dbProduct = await Db.Products.FirstOrDefaultAsync(p => p.Id == _product.Id);

        if (dbProduct == null)
        {
            _notification.AlertError("Product not found in database");
            return;
        }

        string oldImagePath = Path.Combine(HostEnvironment.WebRootPath, dbProduct.ImageUrl.TrimStart('\\'));

        if (File.Exists(oldImagePath))
        {
            File.Delete(oldImagePath);
        }

        Db.Products.Remove(dbProduct);
        await Db.SaveChangesAsync();
        _product = new();
        _notification.AlertSuccess("Product deleted successfully");
        await LoadProducts();
    }

    private void HandleInputFileChange(InputFileChangeEventArgs e)
    {
        _imageUpload = e.File;
    }
}