@page "/Admin/Product/Update/{Id:int}"
@using System.Net
@inject DeclutterMeDbContext Db
@inject IWebHostEnvironment HostEnvironment
@inject NavigationManager NavMan

<PageTitle>Update Product - DeclutterMe</PageTitle>

<div class="container p-3">
    @if (_categories == null)
    {
        <Spinner />
    }
    else
    {
        <EditForm Enhance Model="Product" FormName="updateProduct" OnValidSubmit="HandleUpdateProduct" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-10">
                    <div class="border p-3 mt-4 row">
                        <div class="col-12 pb-2">
                            <h2 class="text-body">Update Product</h2>
                            <hr />
                        </div>
                        <DataAnnotationsValidator />
                        <div class="mb-3">
                            <label>Name:</label>
                            <InputText class="form-control" @bind-Value="Product.Name" />
                            <div class="text-danger">
                                <ValidationMessage For="@(() => Product.Name)" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Description:</label>
                            <InputTextArea class="form-control" @bind-Value="Product.Description" rows="3" />
                            <div class="text-danger">
                                <ValidationMessage For="@(() => Product.Description)" />
                            </div>
                        </div>
                        <div class="mb-3 col-6">
                            <label>List Price:</label>
                            <InputNumber class="form-control" @bind-Value="Product.ListPrice" />
                            <div class="text-danger">
                                <ValidationMessage For="@(() => Product.ListPrice)" />
                            </div>
                        </div>

                        <div class="mb-3 col-6">
                            <label>Actual Price:</label>
                            <InputNumber class="form-control" @bind-Value="Product.ActualPrice" />
                            <div class="text-danger">
                                <ValidationMessage For="@(() => Product.ActualPrice)" />
                            </div>
                        </div>

                        <div class="mb-3">
                            <label>Image Url:</label>
                            <InputFile class="form-control" name="Product.ImageFile" />
                            <InputText @bind-Value="Product.ImageUrl" hidden />
                        </div>

                        <div class="mb-3">
                            <label>Category:</label>
                            <InputSelect class="form-control" @bind-Value="Product.CategoryId">
                                <option value="">Select Category...</option>
                                @foreach (var c in _categories)
                                {
                                    <option value=@($"{c.Id}")>@c.Name</option>
                                }
                            </InputSelect>
                            <div class="text-danger">
                                <ValidationMessage For="@(() => Product.CategoryId)" />
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary me-2">Update</button>
                            <a class="btn btn-secondary" href="Admin/Product">Back to List</a>
                        </div>
                    </div>
                </div>
                <div class="col-2 mt-4">
                    <img src="@Product.ImageUrl" style="width: 100%; border-radius: 5px; border: 1px solid #bbb9b9;" />
                </div>
            </div>
        </EditForm>
    }
</div>

@code {
    [Parameter] public int Id { get; set; }    

    [SupplyParameterFromForm(FormName = "updateProduct")]
    internal DataAccessLibrary.Entities.Product Product { get; set; } = default!;

    private IEnumerable<DataAccessLibrary.Entities.Category> _categories = default!;

    protected override async Task OnParametersSetAsync()
    {
        _categories ??= await Db.Categories.ToListAsync();
        Product ??= await Db.Products
            .Include(x => x.Category)
            .FirstAsync(x => x.Id == Id);
    }

    private async Task HandleUpdateProduct()
    {
        string path = Path.Combine(HostEnvironment.WebRootPath, @"img/products");

        if (Product!.ImageFile != null)
        {
            string safeFileName = WebUtility.HtmlEncode(Product.ImageFile.FileName);
            await using FileStream fs = new(Path.Combine(path, safeFileName), FileMode.Create);
            await Product.ImageFile.CopyToAsync(fs);
        }

        DataAccessLibrary.Entities.Product product = new()
        {
            Id = Id,
            Name = Product.Name,
            Description = Product.Description,
            ListPrice = Product.ListPrice,
            ActualPrice = Product.ActualPrice,
                ImageUrl = Product.ImageFile != null ? $"img/products/{Product.ImageFile.FileName}" : Product.ImageUrl,
            CategoryId = Product.CategoryId
        };

        Db.Products.Update(product);
        await Db.SaveChangesAsync();
        NavMan.NavigateTo("Admin/Product");
    }
}